<?xml version="1.0" encoding="UTF-8"?>

<!--  引入composer自动加载 -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php" colors="true">


    <!-- 声明测试文件在哪里 -->
    <testsuites>
        <testsuite >
            <directory suffix="Test.php">./tests</directory>
            <!-- 声明./tests文件夹里, 结尾是Test.php的是测试文件 -->
        </testsuite>
    </testsuites>

    <filter>
        <!-- 测试白名单 测试文件与app冲突时 使用app的文件  -->
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>

    <php>
        <!-- 全局环境 -->
        <server name="APP_ENV" value="testing"/>
    </php>

</phpunit>
